@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Great+Vibes&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F0E8E6;
}
a{
  font-family: 'Libre Baskerville', serif;
}

.logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
}
.logoo{
  font-family:'Cinzel Decorative', cursive;
  
}

.colorz{
  background-color:#CDA09B !important;
}
